
<div class="grid-container">
  <form class="form-container" [formGroup]="registerForm">
    <h1> Register bellow</h1>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
  
    <button mat-raised-button (click)="execute()" class="register-button">Register</button>
    <p class="register-text">
      Already registered? <a routerLink="/login">Sign in.</a>
    </p>
  </form>
</div>
