
<div *ngIf="isGroupActive()">
  <div class="example-container">
    <div cdkDropListGroup>
      <div
        *ngFor="let item of sessions | keyvalue;"
        style="margin: 10px;"
        cdkDropListOrientation="horizontal"
        cdkDropList
        [cdkDropListData]="item.value"
        class="example-list"
        (cdkDropListDropped)="drop($event, item.key)">
        <ng-container *ngIf="item.value.length > 0">
          <div class="example-box" *ngFor="let dude of item.value" cdkDrag>
            <div *ngIf="!dude.profile_image">{{dude.username}}</div>
            <img *ngIf="dude.profile_image" style="object-fit: cover;"  [src]="dude.profile_image.file" height="50px" width="50px"/>
          </div>
        </ng-container>
        <ng-container *ngIf="item.value.length === 0">
        </ng-container> 
      </div>
    </div>
  </div>

  <button mat-raised-button color="warn" (click)="exitGroup()">Leave Group</button>
</div>
<div *ngIf="!isGroupActive()">
  <h3>You must be in a group to see this dashboard</h3>
</div>