<div class="example-container">
  <div cdkDropListGroup>
    <div
      *ngFor="let item of sessions | keyvalue;"
      style="margin: 10px;"
      cdkDropListOrientation="horizontal"
      cdkDropList
      [cdkDropListData]="item.value"
      class="example-list"
      (cdkDropListDropped)="drop($event, item.key)">
      <ng-container *ngIf="item.value.length > 0">
        <div class="example-box" *ngFor="let dude of item.value" cdkDrag>{{dude.username}} --> {{dude.email}}</div>
      </ng-container>
      <ng-container *ngIf="item.value.length === 0">
      </ng-container> 
    </div>
  </div>
</div>