
<div class="big-grid">
  <div class="row">
      <div>
        <img *ngIf="imagePath" style="object-fit: cover;"  [src]="imagePath" height="200" width="200px"/>
        <button (click)="openDialog()">
          <mat-icon>edit</mat-icon>
          <b>Edit</b>
        </button>
      

      </div>
      <mat-tab-group>
        <mat-tab label="Overview">
          <app-user-overview [user]="user"></app-user-overview>
        </mat-tab>
        <mat-tab label="Activity"> Content 2 </mat-tab>
        <mat-tab label="History"> Content 3 </mat-tab>
      </mat-tab-group>
  </div>
  <div class="row">
    <div>
      <h2>{{ user.username }}</h2>
      <h2>{{ user.email }}</h2>
      
    </div>
  </div>
  <div class="row">
    <div>
      <button mat-raised-button routerLink="">Edit profile</button>
    </div>
  </div>
</div>

