
<div class="container mt-2" *ngIf="isGroupActive()">
    <div cdkDropListGroup>
      <div class="example-container" *ngFor="let session of sessions | keyvalue;">
        <div
          style="margin: 10px;"
          cdkDropListOrientation="horizontal"
          cdkDropList
          [cdkDropListData]="session.value"
          class="example-list"
          (cdkDropListDropped)="triggerDropConfirmation($event, session.key)">
            <ng-container *ngIf="session.value.length > 0">
              <div class="example-box" *ngFor="let dude of session.value" cdkDrag>
                <div matTooltip="{{ dude.username }}" >

                  <div *ngIf="!dude.profile_image">{{dude.username}}</div>
                  <img *ngIf="dude.profile_image" style="object-fit: cover;"  [src]="dude.profile_image.file" height="50px" width="50px"/>

                </div>
              </div>
            </ng-container>
  
          <ng-container *ngIf="session.value.length === 0">
          </ng-container> 
        </div>

        <div class="butonche row-container-item">
          <button mat-mini-fab color="basic" aria-label="Example icon button with a delete icon" (click)="openDialog(session.key)">
            <mat-icon>view_headline</mat-icon>
          </button>
        </div>

        <div class="row-container-item">
          <h2>5 dni i deset chasa</h2>
        </div>

      </div>      
    </div>

  <button *ngIf="isUserLoggedIn() && isGroupActive()" mat-raised-button color="warn" (click)="exitGroup()">Leave Group</button>
</div>