
<div class="grid-container">
  <form class="form-container" [formGroup]="loginForm">
  <h1>Login below</h1>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" />
  </mat-form-field>

  <button mat-raised-button class="login-button">Login</button>
  <p class="register-text">
    Not registered? <a routerLink="/register">Sign up.</a>
  </p>
</form>
</div>

  
  
    <h3>nashiquzar</h3>
    <h3>nashataparola</h3>