.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: rgb(21, 41, 65);
}

.center-align {
  align-self: center;
}

a {
  color: white;
  cursor: pointer;
  margin-left: 6px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  margin-top: 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.credentials {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

button {
  width: 110px;
  margin: 2px;
}


.image-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid greenyellow;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.small-image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}