<header class="nav-bar">
  <div class="logo">Pairing is carring</div>
  <div class="anchors-container">
    <a routerLink='groups' *ngIf="isLoggedIn()" href="#">Groups</a>
    <a routerLink="home">Home(Table)</a>
    <a href="#">something</a>
  </div>
  <div class="credentials">
    <button mat-raised-button *ngIf="isLoggedOut()" routerLink="login">Login</button>
    <button mat-raised-button *ngIf="isLoggedOut()" routerLink="register">Register</button>
    <button mat-raised-button *ngIf="!isLoggedOut()" (click)="logout()">Log Out</button>
    <h4 *ngIf="!isLoggedOut()" style="background-color: white">{{ getUserName() }}</h4>
  </div>
</header>
