.container {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 400px;
}

.form-style {
    font-size: 20px
}

.mat-input-element:disabled {
    color: rgb(66, 66, 66);
}

.members-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.member-chip {
    margin: 3px;
}