<div class="container">
    <form [formGroup]="sessionEditForm" (click)="enableEditDescription()">
    <h2>Pairing Session: </h2>
    <mat-form-field class="form-style">
        <input matInput formControlName="title" spellcheck="false">
    </mat-form-field>
    
    <h2>Pairing since: {{ data.start_time }}</h2>
    <h2>Members: </h2>
    <h2>Description: </h2>
        <mat-form-field class="form-style" appearance="fill">
            <!-- <mat-label>Autosize textarea</mat-label> -->
            <textarea matInput
                      formControlName="description"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      spellcheck="false"></textarea>
          </mat-form-field>
    </form>

    <button mat-button (click)="editSessionSave()"><mat-icon>save</mat-icon></button>

</div>